@keyframes target {
	from {
		outline: 2px solid var(--primary);
		outline-offset: 0.5ch;
	}
	to {
		outline: 2px solid oklch(from var(--primary) l c h / 0);
		outline-offset: 1.5ch;
	}
}
body {
	background-color: var(--primary-surface);
	color: var(--primary);
	max-inline-size: 80rem;
	margin-inline: auto;
	scroll-behavior: smooth;
}
main {
	padding-inline: clamp(1rem, 5vw, 3rem);
	margin-block-end: 10rem;
}
p {
	text-wrap: pretty;
	text-indent: 5ch;
}
:target:not(:has(hgroup)),
:target > hgroup {
	scroll-margin-block-start: 5rem;
	animation: target 0.5s ease-out;
	animation-iteration-count: 3;
	animation-delay: 0.8s;
}
:target:has(hgroup) {
		scroll-margin-block-start: 5rem;
}
h3,h4 {
	text-align: center;
}