nav {
	z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  position: sticky;
  inset-block-start: 0;
  inline-size: 100%;
	box-sizing: border-box;
  padding-inline: clamp(0.25rem, 2vw, 2.5rem);
	contain: content;
	isolation: isolate;
}
nav > ul {
	gap: 1ch;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  inline-size: 100%;
	flex-wrap: wrap;
  > li {
    list-style: none;
    font-family: var(--type-label);
    > a {
			inline-size: fit-content;
      translate: -0.75rch -0.75rch;
      color: var(--primary);
      text-decoration: none;
      border-radius: 1rch;
      padding: 1rch;
      background-color: var(--primary-surface-2);
      transition:
        translate 0.2s,
        box-shadow 0.2s,
        background-color 0.2s;
      box-shadow: 0.75ch 0.75ch 0 var(--primary-surface-0-5);
      text-box: trim-both cap alphabetic;
      display: block;
      &:hover,
      &:focus {
        translate: -0.33ch -0.33ch;
        box-shadow: 0.33ch 0.33ch 0 var(--primary-surface-0-5);
      }
      &:active {
        translate: 0 0;
        box-shadow: 0 0 0 var(--primary-surface-0-5);
        background-color: var(--primary-surface-0-5);
      }
    }
  }
}
