section > hgroup {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: 1rem;
	column-span: all;
	contain: content;
	> p {
		text-wrap: pretty;
		text-align: end;
	}
	&::after {
		background-color: oklch(from var(--primary) l c h /0.5);
		content: '';
		display: block;
		block-size: 5px;
		border-radius: 5rem;
		position: absolute;
		inset-block-end: 1rem;
		inset-inline: 0;
	}
}
section {
	columns: 3 40ch;
	column-wrap: wrap;
	column-height: 80vb;
	column-fill: auto;
	row-rule: 1px solid oklch(from var(--primary) l c h / 0.25);
	row-gap: 2rem;
	column-fill: balance;
}
h3 {
	break-after: avoid;
}