---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Nav from "../components/Nav.astro";
---

<Layout>
  <main>
    <Welcome>
      <h1 slot="heading">Starved for Experience</h1>
      <p slot="subheading">
        We are starved for experience in modern society, and we need to take the
        initiative, or the opportunity will pass us by.
      </p>
    </Welcome>
    <Nav />
    <section id="wild">
      <hgroup>
        <h2>Into the Wild</h2>
        <p>An adventure.</p>
      </hgroup>
      <p>
        Much of transcendentalist thought centers around an increased connection
        with nature.
      </p>
      <p>
        This is the school of thought that Chris McCandless subscribes to, and
        part of what drove him to abandon society, in an attempt to subsist from
        the land in the Alaskan wilds.
      </p>
      <p>
        Chris McCandless wanted to, in his journey, find enlightenment of sorts.
        He believed that, if there were anywhere to find it, it would be the
        wild.
      </p>
      <p>
        Opinions may differ on whether the conviction he held that he would find
        enlightenment in Alaska was well founded, less extreme versions of his
        beliefs prove apparent in modern day life.
      </p>
      <p>
        Transcendentalism holds that society corrupts the inherent good of
        people. And while an absolute moral judgement may be suspect, society is
        not perfect. From loneliness and isolation to a lack of purpose, there
        is truth in the assertion that many people find themselves disillusioned
        with the structures and norms that make up our society.
      </p>
      <p>
        But that's not to say that leaving society altogether, as preached by
        transcendentalism, is the solution to these problems. In doing so, you
        are ignoring not only the problem, but all the people who work to fix
        them. We work best together; by abandoning each other, we not only
        ignore rather than address problems, we also leave the human connection
        which is so important. Chris said this succinctly towards the end of his
        life, in a journal entry on July 30th:
      </p>
      <blockquote>
        <p>“HAPPINESS ONLY REAL WHEN SHARED.”</p>
      </blockquote>
      <p>
        Chris did not, however, go into the woods only to leave society behind.
        He always planned to come back. He hoped, as John Krakauer did in his
        ascent of the Devil's Thumb, that the adventure would prove a
        revolutionary experience to transform his life.
      </p>
      <p>
        In the movie, in response to the question of what he would do once
        reaching Alaska, he replied
      </p>
      <blockquote>
          &quot;You're just living, man. You're just there, in that
          moment.&quot;
      </blockquote>
      <p>
        This is at the heart of many such adventurers, the seeking of moving
        experience. It is easy, as Chris points out, to do the same thing for
        the rest of your life. To go out and seek new experiences is much
        harder.
      </p>
      <p>
        Experience gives you perspective from which to view the world. It gives
        you a chance to learn about yourself, as Chris aimed to do, and about
        others. Society will not push us to do so, so we must push ourselves.
      </p>
      <p>
        Throughout his journey, Chris encouraged many to abandon a sedentary
        life. He prodded them to leave their societal posts to explore the world
        around them, and to explore in a way that they otherwise may not have
        done.
      </p>
      <p>
        In a letter to Ronald, a friend he met along his travels, he advises
        Ronald &quot;To boldly do things which you may previously never have
        thought of doing, or been too hesitant to attempt&quot;, claiming that
        &quot;Nothing is more damaging to the adventurous spirit within a man
        than a secure future.&quot;
      </p>
      <p>
        Chris pushes Ronald to abandon his house and adopt a nomadic lifestyle.
        He thinks that Ronald is a fool for maintaining a habitual lifestyle. He
        says that Ronald, by doing so, will &quot;fail to discover all the
        wonderful things that God has placed around us to discover.&quot;
      </p>
      <p>
        And while I don't agree with many things in that letter, one particular
        line stood out to me:
      </p>
      <blockquote>
        <p>
          &quot;The joy of life comes from our encounters with new
          experiences&quot;.
        </p>
      </blockquote>
      <p>
        This perhaps sums up what so many felt they were missing, and what Chris
        and Krakauer and so many others sought in their adventures: new
        experiences.
      </p>
      <h3>P.S.</h3>
      <p>
        I once read a book with a religion that preached that all people came,
        ultimately, from one being. That being, though much more powerful than
        one human, only had one experience. It desired to learn more, to feel
        more, to <em>experience</em> more than it could as one being. So it split
        itself into many people, to live many lives. The story goes that eventually,
        all people will merge back into the being, with all of their experiences,
        all of their lives coming with them.
      </p>
    </section>
    <section id="now">
			<hgroup>
				<h2>Lack of Connection</h2>
				<p>and the loneliness epidemic.</p>
			</hgroup>
      <p>
        What was the last time that you shared an experience with someone else?
        What did you do?
      </p>
      <p>Did you go out to the movies? Did you go camping?</p>
      <p>Who was it with? A friend? A coworker?</p>
      <p>
        Shared experiences are one of the most potent ways to develop connection
        and community.
      </p>
      <p>
        The quality of our relationships matters more towards our happiness and
        health than any other factor. Social isolation and loneliness increases
        the risk of premature mortality by 29%, and the risk of developing
        dementia by 50%. The effect of loneliness can be as bad as smoking up to
        15 cigarettes a day<sup><a href="#surgeon-general-report">Surgeon General</a></sup>.
      </p>
      <blockquote>
        <p>
          Social connection is a fundamental human need, as essential to
          survival as food, water, and shelter.<sup><a href="#letter-surgeon-general">Surgeon General's Letter</a></sup>
        </p>
      </blockquote>
      <p>
        We are increasingly becoming more isolated because we are moving away
        from shared experiences and social activities. Anything from game nights
        to hikes in the woods are opportunities to build and maintain
        relationships and social connections.
      </p>
      <p>
        And part of what is getting in the way of this is technology. When we
        can simply pull up our phone and see what everyone is doing, wouldn’t
        you prefer to do that then get together with your friend in person? It’s
        certainly easier.
      </p>
      <p>
        In fact, solitude is becoming the default behavior. With the ease of
        online take-out reducing meals eaten out to the relevance of
        working-from-home reducing connection to co-workers, we are shifting how
        we live to be more isolated.
      </p>
      <p>
        One of the key ways to improve social connection and community in our
        society is to develop <em>Social Infrastructure</em> — programs, policies,
        and physical elements of a community that support social connection. One example
        of this given was that of “community-based activities”.
      </p>
      <p>
        And part of that is to shift from online entertainment — like YouTube or
        TickTock — to more in-person, communal activities.
      </p>
      <p>
        But finding people to hang out with can be hard. In an economic system
        pushing us to seek continued economic achievement, especially right now
        with an unstable job market and economy, many find it difficult to
        prioritize making and maintaining social connections.
      </p>
      <p>
        Many also find that there is little context to make a friend in. Not
        only has America deprioritized the construction of third places, joining
        a group with shared interests can be difficult, and consistent
        commitment is often avoided.
      </p>
      <p>
        Despite this, when given the choice, people will choose a shared
        experience, even if it less enjoyable and even at monetary loss. We <em
          >want</em
        > to forge friendships, we want to make connections. Because the enjoyment
        from sharing these experiences is in the social connection, and not the emotional
        experience, we can and will — to the tune of 70% more often — choose to participate
        in <em>less</em> enjoyable experiences if that experience is shared.
      </p>
      <p>
        So what gives? We see a dramatic increase in isolation and loneliness,
        but given the option, we will choose to connect with other people. I
        think that the problem is we aren’t given the option. Technology and
        society has pushed us to be more isolationist. One example of this is
        the dramatic shift of entertainment being experienced communally — at a
        movie theater or in a park — to at home.
      </p>
      <p>
        In <em>Into the Wild</em>, Chris embarked on his adventure with the
        express intent of leaving society. He didn’t want to meet people, he
        wanted to embark on a great adventure <em>alone</em>. But despite this,
        throughout the book he makes many new friends, many of whom he says that
        he will meet after his trip to Alaska. Krakauer had a similar
        experience, describing how his trip to the Devil’s Thumb allowed him to
        meet someone who “reminded him how lonely he was”.
      </p>
      <p>
        By putting themselves in a situation to participate in social
        interaction — in a place where they <em>had</em> to participate in social
        interaction — they were making more friends and connections that many do in
        their daily life, despite going out to do the opposite.
      </p>
      <p>
        To combat this epidemic of loneliness, we need to put ourselves in
        situations where we <em>can</em> participate in social interaction. While
        we may blame a lack of time, the true culprit is how we choose to spend —
        to prioritize — that time.
      </p>
      <p>
        So next time you’re going to stay at home and watch a show after a long
        week, consider looking for a local pickup game of a sport, or looking
        for a local organized hike. Perhaps there’s a book club organized by
        your local library.
      </p>
      <p>
        So, when was the last time that you shared a moment with someone else?
      </p>
      <p>Maybe it’s time to reach out.</p>
    </section>
		<section id="cite">
			<hgroup>
				<h2>Citations</h2>
			</hgroup>
			<ol>
        <li id="ttrpg-save-life">
          <a href="https://slyflourish.com/playing_dnd_can_save_your_life.html"
            >How TTRPG’s can save your life</a>
        </li>
        <li id="surgeon-general-report">
          <a
            href="https://www.hhs.gov/surgeongeneral/reports-and-publications/connection/index.html"
            >Surgeon General Report on Loneliness</a>
        </li>
        <li id="letter-surgeon-general">
          <a
            href="https://www.hhs.gov/sites/default/files/surgeon-general-social-connection-advisory.pdf"
            >Letter from the surgeon general</a>
        </li>
        <li id="shared-experience">
          <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6472755/"
            >Shared Experience</a>
        </li>
				<li id="book">
					<i>Into the Wild</i> &mdash; Jon Krakauer
				</li>
      </ol>
  </main>
</Layout>
