---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import mountainAurora from '../assets/mountain.png';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<section class="cover-inline">
			<Image
				width={800} height={600}
				src={mountainAurora}
				alt="A snowy mountain with the aurora dancing above"
				class="fig" />
			<hgroup>
				<h1>A Digital Detox</h1>
				<p>A desire to be unchained from the internet leads people to abandon their electronics in search of a more grounded lifestyle.</p>
			</hgroup>
		</section>
	</main>
</Layout>
