---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Nav from '../components/Nav.astro';
---

<Layout>
	<main>
		<Welcome>
			<h1 slot="heading">Starved for Experience</h1>
			<p slot="subheading">We are starved for experience in modern society, and we need to take the initiative, or the opportunity will pass us by.</p>
		</Welcome>
		<Nav />
	</main>
</Layout>
