---
import { Image } from 'astro:assets';
import mountainAurora from '../assets/mountain.png';
---
<header class="head-cover" id="welcome">
	<hgroup>
		<slot name="heading">
			<h1>Welcome to the English Project</h1>
		</slot>
		<slot name="subheading">
			<h2>A project about Into the wild</h2>
		</slot>
	</hgroup>
	<Image
		width={800} height={600}
		loading="eager"
		src={mountainAurora}
		alt="A snowy mountain with the aurora dancing above"
		class="fig mask-water" />
</header>