---
import { Font } from "astro:assets";
import Mountain from "../assets/mountain.png";
import "../styles/_entry.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={Mountain.src} />
    <meta name="generator" content={Astro.generator} />
    <title>Starved for Experience</title>
    <Font cssVariable="--atk-mono" />
    <Font cssVariable="--atk-next" />
		<meta name="description" content="A collection of essays on the topic of our loneliness epidemic and how to reach out in spite of the barriers" />
  </head>
  <body>
    <slot />
  </body>
</html>
